@using FoodJournal.Client.Services
@inherits LayoutComponentBase
@inject IUserService user;
@* Required *@
<MudThemeProvider IsDarkMode="true"/>
<MudPopoverProvider />

@* Needed for dialogs *@

<MudDialogProvider FullWidth="false"
                   MaxWidth="MaxWidth.Large"
                   CloseButton="true"
                   BackdropClick="false"
                   NoHeader="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true"
                   
                   />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        @{
          
            <MudAvatar Variant="Variant.Outlined" Style="margin:10px" ><MudIcon Icon="@Icons.Material.Outlined.AccountCircle"></MudIcon></MudAvatar>
        }
         <NavMenu />

    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <h1>@email</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    string email;
    protected override async Task OnInitializedAsync()
    {
        //email = (await user.GetUserInfoAsync())?.Email;
        
    }

}

